[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Search"]
	path = app/Plugin/Search
	url = https://github.com/CakeDC/search.git
